SelfServiceApp/pkgs/Wadl/PdfFlow.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PdfFlow" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PdfFlow" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <base64Binary name="ManualTriggerInput_Extractinformationfrominvoices_Invoicefile_def" />
      <object name="ManualTriggerInput">
        <property name="Extractinformationfrominvoices_Invoicefile" typeRef="ManualTriggerInput_Extractinformationfrominvoices_Invoicefile_def" />
      </object>
      <string name="ResponseActionOutput_servicestart_def" />
      <string name="ResponseActionOutput_serviceend_def" />
      <string name="ResponseActionOutput_customercharge_def" />
      <string name="ResponseActionOutput_vendorname_def" />
      <string name="ResponseActionOutput_customername_def" />
      <string name="ResponseActionOutput_invoicedate_def" />
      <string name="ResponseActionOutput_invoiceid_def" />
      <string name="ResponseActionOutput_gasdistribution_def" />
      <number name="ResponseActionOutput_servicestartconfidence_def" />
      <number name="ResponseActionOutput_serviceendconfidence_def" />
      <number name="ResponseActionOutput_customerchargeconfidence_def" />
      <number name="ResponseActionOutput_vendornameconfidence_def" />
      <number name="ResponseActionOutput_customernameconfidence_def" />
      <number name="ResponseActionOutput_invoicedateconfidence_def" />
      <number name="ResponseActionOutput_gasdistributionconfidence_def" />
      <object name="ResponseActionOutput">
        <property name="servicestart" type="string" />
        <property name="serviceend" type="string" />
        <property name="customercharge" type="string" />
        <property name="vendorname" type="string" />
        <property name="customername" type="string" />
        <property name="invoicedate" type="string" />
        <property name="invoiceid" type="string" />
        <property name="gasdistribution" type="string" />
        <property name="servicestartconfidence" type="number" />
        <property name="serviceendconfidence" type="number" />
        <property name="customerchargeconfidence" type="number" />
        <property name="vendornameconfidence" type="number" />
        <property name="customernameconfidence" type="number" />
        <property name="invoicedateconfidence" type="number" />
        <property name="gasdistributionconfidence" type="number" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Extractinformationfrominvoices_Invoicefile" path="/Extractinformationfrominvoices_Invoicefile" type="service:ManualTriggerInput_Extractinformationfrominvoices_Invoicefile_def" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>